@mixin flex($dir, $wrap, $just, $align) {
  display: flex;
  flex-flow: $dir $wrap;
  justify-content: $just;
  align-items: $align;
}
//mediadesk
@mixin media(){
  @media screen and (min-width:480px) {
      @content
  }
}


// estilos impares
// &:nth-child(odd) {
//   transform: translateX(20px);
// }