@use '_reset';
@import '_mixins';

$sky: (
  light: rgb(8, 217, 214),
  dark: rgb(5, 160, 157),
);

$text-color: #000;

// colgroup
$c-sky: rgb(8, 217, 214);
$c-sky-dark: rgb(0, 218, 214);
$c-blue: rgb(234, 234, 234);
$c-blue-dark: rgb(37, 42, 52);
$c-red: rgb(255, 46, 99);
$c-red-dark: rgb(204, 7, 57);

//font size
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.3rem;
$text-2xl: 1.5rem;

// fonts weight
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

// gap, padding, margin
$spacing-1: 0.25rem;
$spacing-2: 0.5 0.375rem;
$spacing-3: 0.5rem;
$spacing-4: 0.5 0.625rem;
$spacing-5: 0.75rem;
$spacing-6: 0.5 0.875rem;
$spacing-7: 1rem;
$spacing-8: 1.25rem;
$spacing-9: 1.5rem;
$spacing-10: 1.75rem;
$spacing-11: 2rem;
$spacing-12: 2.25rem;
$spacing-13: 2.5rem;
$spacing-14: 2.75rem;
$spacing-15: 3rem;
$spacing-16: 3.25rem;
$spacing-17: 3.5rem;
$spacing-18: 3.75rem;
$spacing-19: 4rem;
$spacing-20: 5rem;
$spacing-24: 6rem;
$spacing-28: 7rem;
$spacing-32: 8rem;
$spacing-36: 9rem;
$spacing-40: 10rem;

//
$padding-x: 1rem;

// index
$level-3: 3; // For z-index

// transition

body {
  background-color: $c-blue-dark;
  color: $c-blue;
  // color: $sky(1);
  font-family: Arial, Helvetica, sans-serif;

  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -5%;
    left: -10%;
    height: 100%;
    width: 30%;
    z-index: -1;
    background-color: rgba(0, 13, 196, 0.596);
  }
}
.header,
.project,
.about {
  // max-width: 75rem;
  margin-bottom: 4rem;
}

.header {
  width: 100%;
  margin-top: 14vh;

  @include media() {
    margin-top: 0;
    height: 90vh;
  }

  &__nav {
    @include flex(row, nowrap, space-between, center);
    padding: 0.6rem;
    width: 100%;
    // height: 9vh;
    position: fixed;
    z-index: 20;
    top: 0;
  }

  &__hero {
    @include flex(row, wrap, center, center);
    gap: 1rem;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    // height: max-content;

    margin: 1.5rem auto;
  }
}

.navbar {
  &__logo {
    color: $c-red;
    font-size: $text-lg;
    font-weight: $font-bold;
  }

  &__menu {
    position: fixed;
    top: 10vh;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 40;
    pointer-events: none;

    @include media() {
      position: initial;
      pointer-events: unset;
    }
    &--show {
      pointer-events: unset;
    }
  }
  &__menu--close {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include media() {
      display: none;
    }
  }
  &__list {
    @include flex(column, nowrap, space-evenly, flex-start);
    transition: opacity 500ms;
    @include media() {
      gap: 1.5rem;
      flex-direction: row;
      align-items: center;
    }
  }
  &__item {
    font-size: $text-base;
    padding: 0.5rem 1rem;
    width: 100%;
    background: $c-sky-dark;
    position: relative;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: background 500ms, opacity 500ms, transform 600ms,
      font-weight 400ms;

    $menu-lenght: 4;
    @for $i from 1 through $menu-lenght {
      &:nth-child(#{$i}) {
        transition-delay: 300ms * $i;
      }
    }

    .navbar__menu--show & {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
    &:active {
      font-weight: $font-semibold;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 2px;
      width: 0;
      background: $c-sky;
      transition: width 600ms;
    }
    @include media() {
      width: auto;
      padding: 0.5rem;
      opacity: 1;
      transform: scaleX(1);
      background: transparent;
      .navbar__list:hover &:not(:hover) {
        opacity: 0.75;
      }
    }
  }

  &__btn {
    display: block;
    padding: 0.4rem 0.8rem;
    background: $c-red;
    transition: background 400ms, color 400ms, border-radius 500ms;
    @include media() {
      display: none;
    }
    &:hover {
      background: $c-blue;
      color: $c-blue-dark;
      border-radius: 10px;
    }
  }
}

.hero {
  &__content {
    // max-width: 450px;

    @include flex(column, nowrap, center, center);
    gap: 1.2rem;
    text-align: center;
    @include media() {
      align-items: flex-start;
      text-align: left;
      width: 55%;
    }
  }

  &__title {
    font-size: $text-2xl;
    &:hover {
      span::after {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }
    span {
      font-weight: $font-extrabold;
      color: $c-red;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0%;
        right: 0%;
        left: 0%;
        height: 2px;
        margin-bottom: -5px;
        background-color: $c-red;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 400ms cubic-bezier(1, 0, 0, 1);
      }
    }
  }
  /* &__h1:hover ~ a {
    color: blue;
    transform: scale(1.1);
  } */
  &__description {
    font-size: $text-base;
    font-weight: $font-light;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__link {
    font-size: $text-base;
    font-weight: $font-semibold;
    padding: 0.7rem 1rem;
    position: relative;
    transition: background 300ms, color 400ms;

    &:hover {
      &::before {
        transform-origin: top right;
        transform: scaleX(1);
      }
      &::after {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      border: 0 solid transparent;
      transform: scaleX(0);
      transition: transform 500ms cubic-bezier(1, 0, 0, 1);
    }
    &::before {
      border-top: 2px solid white;
      transform-origin: top left;
      right: 0;
      top: -4px;
    }
    &::after {
      border-bottom: 2px solid white;
      transform-origin: bottom right;
      bottom: -4px;
      left: 0;
    }
  }

  &__link--proyect {
    background: $c-red-dark;
    &:active {
      background: $c-red;
    }
  }
  &__link--cv {
    background: $c-sky-dark;
    &:active {
      background: $c-sky;
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  &__social a {
    font-size: $text-base;
    font-weight: $font-semibold;
    background: $c-sky;
    border-radius: 5rem;

    outline: 2px solid $c-red;
    transition: background, color, width, border-radius, padding, outline,
      outline-offset;
    transition-duration: 700ms;
    width: 3rem;
    height: 3rem;
    @include flex(row, nowrap, center, center);

    overflow: hidden;

    &:hover {
      background: $c-red;
      outline: 3px solid $c-blue;
      outline-offset: 0.2rem;
      border-radius: 1rem;
      width: 4.5rem;
      color: $c-blue-dark;
      &::after {
        content: 'inst';
        opacity: 1;
        margin-left: 0.4rem;
      }
    }
  }

  &__avatar {
    // width: 85%;
    // height: 300px;
    @include media() {
      width: 40%;
      // img {
      //   height: 550px;
      // }
    }
    img {
      filter: drop-shadow(8px 12px 1px rgb(255, 0, 0));
      max-height: 250px;
      object-fit: contain;
    }
  }
}

/*---------------------------------------
section about
---------------------------------------*/
main {
  @include flex(column, nowrap, center, center);
}
.about {
  max-width: 1050px;
  width: 90%;
  // background: $c-sky;
  background-color: rgb(32, 32, 32);
  border: 2px solid $c-red;
  border-radius: 2rem;
  padding: 1rem 1.2rem;

  display: grid;
  gap: 1rem;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.about-me {
  // max-width: 200px;

  &__nav {
    @include flex(row, nowrap, space-between, center);
    overflow-x: hidden;
  }
  &__title {
    // unificar con tech @extend
    font-size: $text-xl;
    font-weight: $font-extrabold;
    color: $c-blue;
    // text-shadow: 2px 2px 0px $c-red;
  }
  &__user {
    @include flex(row, nowrap, center, center);
    gap: 0.8rem;

    .about-me__nav:hover & {
      transform: translateX(0px);
    }
    @media screen and (max-width: 300px) {
      display: none;
    }
    @include media() {
      transform: translateX(5rem);
      transition: transform 400ms linear;
    }
  }

  &__username {
    transition: opacity 400ms, transform 400ms;
    .about-me__nav:hover & {
      opacity: 1;
      transform: scale(1);
    }
    @include media() {
      opacity: 0;
      transform: scale(0.7);
    }
    h4 {
      color: $c-red;
      font-weight: $font-bold;
    }
    h4,
    p {
      font-size: $text-sm;
    }
  }

  &__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  &__description {
    font-size: $text-base;
    font-weight: $font-light;
    &::selection {
      background-color: $c-red;
    }
  }
}

.tech {
  &__title {
    color: $c-blue;
    // text-shadow: 2px 2px 0px $c-red;

    margin-bottom: 1rem;
    font-size: $text-xl;
    font-weight: $font-bold;
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20px, 70px));
    grid-gap: 1rem;
  }
  &__item {
    position: relative;
    z-index: 10;
    img {
      width: 100%;
    }
    svg {
      // background-color: whitesmoke;
    }
  }

  &__modal {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    border-radius: 2rem;
    background: $c-sky;
    font-size: $text-base;
    font-weight: $font-bold;
    padding: 0.5rem;
    transform: translate(50%, 0%) scale(0.5);
    transition: opacity 1s, transform 500ms;
    .tech__item:hover & {
      opacity: 1;
      transform: translate(50%, -90%) scale(1);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -20%;
      left: 50%;
      width: 15px;
      height: 15px;
      background: $c-sky;
      transform: rotate(-12deg);
      clip-path: polygon(53% 100%, 0 0, 100% 0);
    }
  }
}

.project {
  max-width: 1200px;
  width: 90%;
  &__h2 {
    color: $c-blue-dark;
    text-shadow: 2px 2px 0px $c-blue;

    font-size: $text-2xl;
    font-weight: $font-extrabold;
  }
  &__list {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-columns: 1fr;

    // grid-auto-columns: 1fr;
    gap: 0.4rem;
    @include media() {
      grid-template: 1fr / 1fr 1fr;
      li {
        &:nth-child(3) {
          grid-column: span 2;
        }
        &:nth-child(6) {
          grid-column: span 2;
        }
        &:nth-child(9) {
          grid-column: span 2;
        }
        &:nth-child(12) {
          grid-column: span 2;
        }
        &:nth-child(15) {
          grid-column: span 2;
        }
      }
    }

    @media screen and (min-width: 800px) {
      grid-template: 1fr / 2fr 2fr 1fr 2fr;

      // grid-auto-flow: dense;

      li {
        .space {
          grid-column: 2/4;
          @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
              grid-row: $i/ span 1;
            }
          }
        }
        &:nth-child(3) {
          // grid-area: 1/2/3/4;
          grid-row: 1 / span 1;
          grid-column: 2/4;
        }
        &:nth-child(6) {
          // grid-area: 3/2 / span 2/4;
          grid-row: 2 / span 1;
          grid-column: 2/4;
          // padding: 1rem;
          // background-color: cyan;
        }
        &:nth-child(9) {
          grid-row: 3 / span 1;
          grid-column: 2/4;
        }
        &:nth-child(12) {
          grid-row: 4 / span 1;
          grid-column: 2/4;
        }
        &:nth-child(15) {
          grid-row: 5 / span 1;
          grid-column: 2/4;
          // grid-area: span 2/2 / span 2/4;
        }
      }
    }
  }

  &__item {
    background: $c-red-dark;
    height: max-content;
    border-radius: 1.2rem;
    overflow: hidden;
    transition: outline 300ms, height 500ms;
    // &:hover {
    //   height: 50vmax;
    // }
  }
  &__photo {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
    // height: 100%;

    // @media screen and (min-width: 800px) {
    //   height: 70%;
    // }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      z-index: 10;
      &::after {
        opacity: 1;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(
        circle,
        rgba(2, 0, 36, 0) 55%,
        rgba(0, 9, 10, 0.315) 100%
      );
      opacity: 0;
      transition: opacity 500ms;
    }
  }

  &__title {
    position: absolute;
    top: -10%;
    right: 0;
    left: 0;
    background: rgba(29, 29, 29, 0.452);
    opacity: 0;
    transition: top 400ms, opacity 400ms;

    font-size: $text-xl;
    font-weight: $font-bold;
    padding: 1rem;
    backdrop-filter: blur(15px);

    .project__item:hover & {
      top: 0;
      opacity: 1;
    }
  }
  &__link {
    position: absolute;
    z-index: 30;
    bottom: -10%;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: $text-base;
    font-weight: $font-semibold;
    opacity: 0;
    transition: bottom 400ms, opacity 400ms, background 500ms;
    &:hover {
      background: rgb(241, 22, 66);
    }
    .project__photo:hover & {
      bottom: 20px;
      opacity: 1;
    }
  }
  &__link--code {
    left: 10px;
    background-color: $c-sky;
  }
  &__link--demo {
    right: 10px;
    background-color: $c-blue-dark;
  }
  &__description {
    width: 100%;
    padding: 0.5rem 1rem 1rem;
    // .project__item:hover & {
    //   height: 150px;
    // }
  }
  &__techs {
    span {
      font-weight: $font-semibold;
      color: $c-sky;
    }
  }
}

.typing {
  display: block;
  width: 22ch;
  border-right: 2px solid white;
  white-space: nowrap;
  overflow-x: hidden;
  font-size: 1.6rem;
  // animation: espacio 2s steps(22), blick 1000ms step-start infinite;
}

@keyframes espacio {
  from {
    width: 0;
  }
}
@keyframes blick {
  50% {
    border-color: transparent;
  }
}
